-#!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-#- html_tag :class => "no-js", :lang => "en" do
-#  = render "head"

-#  %body{ :class => "#{ controller.controller_name }" }
-#    = render "chromeframe"
-#    = render "header"

-#    #main{ :role => "main" }
-#      = render "flashes"

-#= stylesheet_link_tag 'photos'

-# necessary to make the sign_out function working
-#= javascript_include_tag 'application'

= csrf_meta_tag


-#= javascript_include_tag 'jquery.rails.js'
-#= javascript_include_tag 'gallery.js','jquery.mCustomScrollbar.js'


= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
= javascript_include_tag 'jquery.easing.1.3.js','jquery.mousewheel.min.js','jquery.rails.js'
= javascript_include_tag 'pop-ups.js'
= javascript_include_tag 'nav.js'

= yield :head
= yield
-#    = render "footer"

    -# Javascript at the bottom for fast page loading
-#    = render "javascripts"